# Node artifact files
node_modules/

# Environment variables
.env*
serviceAccount.json

# Compiled Java class files
*.class

# Compiled Python bytecode
*.py[cod]

# Log files
*.log

# Package files
*.jar

# Maven
target/

# JetBrains IDE
.idea/

# Unit test reports
TEST*.xml

# OS files
.DS_Store
Thumbs.db
ehthumbs.db
Desktop.ini
Icon?

# Applications
*.app
*.exe
*.war

# Media
*.mp4
*.tiff
*.avi
*.flv
*.mov
*.wmv

# Output folders
dist/
build/
